main#authors {

    #authors_container {
        height: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        // outline: 2px solid red;
    
        
        .author {
            border: 1px solid grey;
            padding: 0.2em;
            border-radius: 3px;
        }
    
        .author_buttons {
            margin-top: 1em;
        }

        #emptyblogs {
            // outline: 2px solid red;
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            justify-content: center;
            height: 60%;
            color: rgb(83, 83, 83);
            font-weight: bold;
            background-color: rgba(255,255,255,.3);
            border-radius: 5px;

            a {
                color: rgb(100, 100, 100);
                background-color: black;
                padding: 0.2em 0.5em;
                border-radius: 2px;

                &:hover {
                    background-color: rgb(31, 31, 31);
                }
            }
        }
    }

}