main#blogs {

    #blogs_container {
        padding: 1em;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        outline: 2px solid red;

        #emptyblogs {
            // outline: 2px solid red;
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            justify-content: center;
            height: 60%;
            color: rgb(83, 83, 83);
            font-weight: bold;
            background-color: rgba(255,255,255,.3);
            border-radius: 5px;

            a {
                color: rgb(100, 100, 100);
                background-color: black;
                padding: 0.2em 0.5em;
                border-radius: 2px;

                &:hover {
                    background-color: rgb(31, 31, 31);
                }
            }
        }
    }

}