/* GENERAL STYLES */
/* applies to all pages */

:root {
    --primary-color: blue;
    --secondary-color: green;
    --navbar-height: 60px;
    --foooter-height: 60px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

a, ul {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

/* GLOBAL SPECIFIC STYLES */
/* applies nav, main, footer, forms and containers of all pages */

.container {
    width: 100%;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
    padding: 1em;
    /* outline: 2px solid red; */
}

/* NAVBAR STYLES */
nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: var(--navbar-height);
    background-color: black;
    color: white;
}

    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav #logo a{
        font-weight: bold;
        font-size: 1.5rem;
    }

    nav #logo a:hover{
        color: yellow;
    }

    nav ul {
        display: flex;
    }

    nav ul li a{
        display: block;
        text-align: center;
        padding: 1em;
        width: 100px;
    }

    nav ul li a.active {
        border-bottom: 2px solid grey;
    }

    nav ul li a:hover{
        background-color: grey;
    }

    nav #user_nav {
        display: flex;
        align-items: center;
        gap: 1em;
        /* outline: 2px solid red; */
    }

    nav #user_avatar {
        border: 1px solid grey;
        border-radius: 50%;
        padding: 0.4em;
        font-size: 1.2rem;
        /* pointer-events: none; */
        position: relative;
    }

    nav #user_avatar #dropdown{
        /* outline: 2px solid red; */
        position: absolute;
        padding: 0.5em;
        top: calc(var(--navbar-height) - 10px);
        right: 0;
        width: 200px;
        border-radius: 3px;
        background-color: rgba(0,0,0,.8);
        box-shadow: 0 0 3px 3px rgba(0,0,0,.2);
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;

        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    nav #user_avatar #dropdown.hide{
        transform: scaleY(0);
    }

    nav #user_avatar #dropdown a{
        /* outline: 2px solid green; */
        text-align: center;
        padding: 0.5em 0;
        border-radius: 3px;
    }

    nav #user_avatar #dropdown a:hover{
        background-color: gray;
    }

/* MAIN STYLES */
main {
    min-height: 100vh;
    --page-padding-top: var(--navbar-height);
    --page-padding-bottom: 2em;
}

/* FORM STYLES */
form {
    /* outline: 2px solid red; */
    width: 100%;
    max-width: 400px;
}

    form .form_header {
        font-size: 1.5rem;
        padding: 0.5em 0;
    }

    form .input_container {
        /* outline: 2px solid red; */
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    form label {
        font-size: 0.8rem;
        padding-bottom: 0.2em;
    }

    form input {
        border: none;
        border: 1px solid black;
        border-radius: 3px;
        background-color: transparent;
        font-size: 1.2rem;
        padding: 0.5em 0.2em;
    }

    form button {
        width: 100%;
        border-radius: 3px;
        font-size: 1.2rem;
        padding: 0.5em 0.2em;
        background-color: black;
        color: white;
        /* outline: 2px solid red; */
    }

    form button:hover {
        background-color: gray;
    }

    form .feedback_container {
        padding: 1em 0;
        opacity: 0;
    }

    form .feedback_container.show {
        opacity: 1;
    }

    form .feedback_container p {
        padding: 0.3em;
        border-radius: 3px;
        background-color: red;
        color: white;
        text-align: center;
    }

/* FOOTER STYLES */
footer {
    width: 100%;
    min-height: var(--foooter-height);
    background-color: rgb(22, 22, 22);

    display: flex;
    flex-direction: column;
    --footer-text-color: grey;
    color: var(--footer-text-color);
}

    footer .container {
        flex: 1;
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    @media screen and (max-width: 500px) {
        footer .container {
            flex-direction: column;
        }
    }

    /* footer .footer_section { */
        /* flex: 1; */
        /* max-width: 300px; */
        /* outline: 2px solid red; */
    /* } */

    footer .footer_section h4{
        padding-bottom: 0.3em;
    }

    footer .footer_section.about {
        max-width: 350px;
    }

    footer .footer_section ul{
        display: flex;
        flex-wrap: wrap;
        gap: 0.3em;
    }

    footer .footer_section.collaborators ul li a {
        border: 1px solid var(--footer-text-color);
        border-radius: 500px;
        padding: 0.3em 0.8em;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3em;
        /* outline: 2px solid red; */
    }

    footer .footer_section.collaborators ul li a:hover {
        box-shadow: 0 0 1px 1px var(--footer-text-color);
    }

    footer .footer_section.collaborators ul li a span { font-size: 0.8rem;}

    footer .icon { width: 20px; fill: var(--footer-text-color)}

    footer #copyright {
        background-color: black;
        text-align: center;
        padding: 1em;
        color: rgb(43, 43, 43);
        /* outline: 2px solid red; */
    }

/* PAGES STYLES */

/* INDEX */

/* INDEX PAGE */
main#index .container {
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);
}

section#hero {
    height: 70vh;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#hero h1 {
    font-size: 2rem;
}

section#hero a {
    padding: 1em 3em;
    background-color: black;
    color: white;
    border-radius: 3px;
}

section#hero a:hover {
    background-color: grey;
}

/* LOGIN PAGE */
main#login .container {
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);
}

/* REGISTER PAGE */
main#register .container {
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);
}


/* USER ACCOUNT */
main#user_main {
    height: 100vh;
    padding-top: var(--page-padding-top);
}

main#user_main .container {
    display: flex;
    gap: 1em;
    /* outline: 2px solid green; */
}

main#user_main .container section{
    height: 100%;
    /* outline: 2px solid red; */
}

    #best_authors_list {
        flex: 1;
        height: 100px;
        border-radius: 10px;
        overflow: hidden;
        padding: 0.8em;
        background-color: black;
    }

    #best_authors_list h4{
        color: grey;
    }

    #best_authors_list #authors_container {
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    #best_authors_list #authors_container .user{
        padding: 1em 5px;
        background-color: rgb(63, 63, 63);
        border-radius: 5px;
        color: grey;
    }

    #user_dashboard {
        flex: 3;
        overflow-y: scroll;
        position: relative;

            overflow-y: scroll; 
            scrollbar-width: none; /* Firefox */ 
            -ms-overflow-style: none; /* Internet Explorer 10+ */ 
    }

    #user_dashboard::-webkit-scrollbar { 
        /* WebKit */ 
        width: 0; 
        height: 0; 
    }

    #user_dashboard #header{
        position: sticky;
        top: 0;
        padding: 1em;
        background-color: black;
        color: grey;
        border-radius: 5px;
    }

    #user_dashboard #header #information {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }

    #user_dashboard #blogs_container {
        padding: 1em 0.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #user_dashboard .blog {
        padding: 1em;
        width: 100%; 

        display: flex;
        flex-direction: column;
        gap: 0.5em;

        box-shadow: 0 5px 5px rgb(0,0,0,.25);
        border-radius: 3px;
    }

    .blog .blog_retension {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }

    .blog .blog_retension .info {
        font-style: italic;
        color: rgb(109, 43, 43);
    }

    .blog .blog_buttons {
        display: flex;
        gap: 1em;
    }

    .blog .blog_buttons button {
        /* outline: 2px solid red; */
        width: 100px;
        padding: 0.2em;
        font-size: 1rem;
        border-radius: 2px;
        border: 1px solid grey;
    }

    .blog .blog_buttons .deleteBtn:hover {
        background-color: #c23c3c;
        color: #d1d1d1;
    }

    .blog .blog_buttons .editBtn:hover {
        background-color: black;
        color: #d1d1d1;
    }

    @media screen and (max-width: 700px) {
        #best_authors_list {
            display: none;
        }
    }